@charset "UTF-8";

form {
	width:60vw;
	min-width:692px;
	margin: 30px auto;
}

form div {
	display: flex;
	justify-content: space-between;
}

form input, form textarea {
	flex : 1;
}

input, textarea, button {
	letter-spacing: -0.2px;
	fontsize:1rem;	
}